:root {
  --poppins-font: "Poppins", Helvetica;
  --gilroy-font: "Gilroy-Medium-☞", Helvetica;
  --gilroy-semibold-font: "Gilroy-SemiBold-☞", Helvetica;
  --gilroy-bold-font: "Gilroy-Bold-☞", Helvetica;
  --raleway-font: "Raleway", Helvetica;
  --phonk-font: "Phonk-RegularDEMO", Helvetica;
  --sora-font: "Sora", Helvetica;
  --bratannic-bold: "Britannic Bold-Regular", Helvetica;
}

/* Custom Codes */

.invisible {
  opacity: 0;
}

/* Navbar START */
.navbar {
  margin: 51px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
}

.navlinks ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

#navbar-mobile {
  position: absolute;
  top: 118px;
  background: #fff;
  z-index: 1;
  width: 100%;
  padding: 20px 150px;
}

.navlinks-mobile ul li {
  text-align: center;
}

.navlinks a {
  color: #122138;
  font-family: "Gilroy-Medium-☞";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration: none; /* Assuming you want to remove underlines from links */
}

.navlinks .auth-buttons {
  display: flex;
  width: 228px;
  height: 48px;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.navlinks .login-link {
  color: #de1f54;
  border-radius: 200px;
  border: 2px solid #de1f54;
  background: #ffd7e2;
  box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.15);
}

.navlinks .login-link:hover {
  color: #ffffff;
  border-radius: 200px;
  border: 2px solid #de1f54;
  background: #de1f54;
  box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.15);
}

/* Navbar Mobile START */

.navbar-mobile {
  margin: 41px 0;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  transition: opacity 1s ease-in-out;
}

.navbar-mobile .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlinks-mobile ul {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 0px 25px;
}

.navlinks-mobile a {
  color: #122138;
  font-family: "Gilroy-Medium-☞";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration: none; /* Assuming you want to remove underlines from links */
}

.hamburger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.auth-buttons-mobile {
  display: flex;
  width: 99px;
  height: 36px;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.login-link-mobile {
  color: #de1f54;
  border-radius: 200px;
  border: 2px solid #de1f54;
  background: #ffd7e2;

  color: #de1f54;
  text-align: center;
  font-family: Sora;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.navlinks-mobile .hamburger-icon .login-link:hover {
  color: #ffffff;
  border-radius: 200px;
  border: 2px solid #de1f54;
  background: #de1f54;
  box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.15);
}

.hamburger-icon {
  font-size: 25px;
}

/* Navbar Mobile END */

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
  }
}

/* Navbar END */

/* Hero section START */

.hero-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  width: 100%;
  max-width: 1620px;
  height: 774px;
  padding: 116px 50px;
  background-color: #de1f54;
  border-radius: 50px;
  background-image: url(./img/hero-section.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-section-title {
  color: #f7e4e9;
  font-family: var(--phonk-font);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-section-subtitle {
  margin-top: 15px;
  color: #fff;
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 138.462% */
}

.animated-button {
  margin-top: 60px;
  width: 340px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 999px;
  border: 1px solid #fff;
  text-align: center;
  background-color: #fff;
}

.animated-button a {
  position: relative;
  top: -5px;
  left: -5px;
  display: grid;
  place-items: center;
  border-radius: 999px;
  width: 340px;
  height: 80px;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  background: #000;
  border: 2px solid #fff;
  line-height: 30px; /* 150% */
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out; /* Add a transition for top and left properties */
}

.animated-button a:hover {
  top: -1px;
  left: -1px;
  border: 2px solid #fff;
}

.hero-left-section-bottom {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 29px;
}

.customers-count {
  color: #fff;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}

.customers-text {
  color: #fff;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

.customers-rating {
  color: #fff;
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
}

.customers-stars {
  height: 16px;
}

.hero-section-bottom-mobile {
  display: none;
}

.mobile-view-flex {
  display: none;
}

.mobile-view-block {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

/* Hero section MOBILE START */

@media screen and (max-width: 768px) {
  .hero-section-container {
    padding: 0 25px;
  }

  .hero-section {
    border-radius: 10px;
    padding: 40px 20px;
    height: 770px;
    background-image: url(./img/hero-section-mobile-background.png);
  }

  .hero-section-title {
    color: #f7e4e9;
    font-family: "Phonk-RegularDEMO", Helvetica;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .hero-section-subtitle {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }

  .hero-section-subtitle-break-point {
    display: none;
  }

  .animated-button {
    margin-top: 42px;
    width: 193px;
    height: 54px;
  }

  .animated-button a {
    width: 193px;
    height: 54px;
    font-size: 14px;
  }

  .hero-left-section-bottom {
    display: none;
  }

  .hero-section-bottom-mobile {
    display: flex;
  }

  .mobile-view-flex {
    display: flex;
  }

  .mobile-view-block {
    display: block;
  }
}

/* Hero section MOBILE END */

/* Hero section END */

/* Service Section START */

.service-section-container {
  z-index: -1;
  position: relative;
  width: 100%;
  background: linear-gradient(179deg, #fff 0.69%, #ffe2e2 46.97%, #fff 99.32%);
  height: 1100px;
  top: -100px;
}

.service-section-title {
  color: #000;
  text-align: center;
  font-family: var(--phonk-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 150% */
  margin-top: 160px;
}

.service-title-vector {
  position: relative;
  top: -32px;
  left: 137px;
  z-index: -1;
}

.item1 {
  grid-area: service1;
}
.item2 {
  grid-area: service2;
}
.item3 {
  grid-area: service3;
}
.item4 {
  grid-area: service4;
}
.item5 {
  grid-area: service5;
}

.grid-container {
  padding: 0 197px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "service1 service2 service3"
    "service4 service5 service5";
  gap: 30px;
}

/* tab view START */

@media screen and (max-width: 1200px) {
  .grid-container {
    padding: 0 50px;
  }
}

/* tab view END */

.grid-container > div {
  background-color: #fff;
  text-align: center;
  padding: 30px;
  font-size: 30px;
}

.service-image-icon {
  width: 134px;
  height: 134px;
  top: 9px;
  left: 148px;
  object-fit: cover;
}

.service-image-container {
  border-radius: 10px;
  background: #f8f8f8;
}

.grid-container .service-title {
  margin-top: 30px;
  color: #181818;
  font-family: var(--gilroy-semibold-font);
  font-size: 26px;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.grid-container .service-text {
  margin-top: 10px;
  color: #5e5e5e;
  text-align: left;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
}

.service-double-title {
  color: #181818;
  text-align: center;
  font-family: var(--gilroy-bold-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 138.462% */
}

.service-double-text {
  color: #181818;
  font-family: var(--gilroy-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 15px;
  }

  .service-section-title {
    margin-top: 200px;
    margin-bottom: 50px;
  }

  .grid-container > div {
    background: #f8f8f8;
    border-radius: 10px;
  }

  .service-image-container {
    border-radius: 10px;
    background: #fff;
  }

  .grid-container .service-title {
    margin-top: 20px;
    font-size: 18px;
  }

  .grid-container .service-text {
    margin-top: 5px;
    text-align: left;
    font-size: 14px;
    line-height: 20px; /* 145.455% */
  }

  .service-double-title {
    font-size: 18px;
    line-height: 120%;
  }

  .service-double-text {
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 12px;
  }
}

/* Service Section Mobile Start */

@media screen and (max-width: 768px) {
  .service-section-container {
    background: #fff;
    height: fit-content;
  }

  .service-section-title {
    color: #000;
    text-align: center;
    font-family: var(--phonk-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .service-title-vector {
    position: relative;
    top: -10px;
    left: 20px;
    z-index: -1;
    width: 238px;
  }

  .service-title-vector-mobile {
    z-index: -1;
    position: relative;
    top: -7px;
    left: 140px;
  }
}

/* Service Section Mobile End */

/* Service Section END */

/* pure CSS Marquee START */

@keyframes slide-top {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-bottom {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.logos {
  overflow: hidden;
  padding: 21.83px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

@media screen and (max-width: 768px) {
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos:before {
    background: linear-gradient(
      to right,
      #f8f8f8 0%,
      rgba(248, 248, 248, 0) 100%
    );
  }

  .logos:after {
    border-radius: 10px;
    background: linear-gradient(
      to left,
      #f8f8f8 0%,
      rgba(248, 248, 248, 0) 100%
    );
  }
}

.logos:hover .logos-slide-top {
  animation-play-state: paused;
}

.logos-slide-top {
  display: inline-block;
  animation: 20s slide-top infinite linear;
}

.logos-slide-top img {
  height: 72.757px;
  margin: 0 10.915px;
}

.logos:hover .logos-slide-bottom {
  animation-play-state: paused;
}

.logos-slide-bottom {
  display: inline-block;
  animation: 20s slide-bottom infinite linear;
}

.logos-slide-bottom img {
  height: 72.757px;
  margin: 0 10.915px;
}

/* pure CSS Marquee END */

/* Pricing Section START */

.pricing-section-title {
  color: #000;
  text-align: center;
  font-family: var(--phonk-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 150% */
}

.pricing-title-vector {
  position: relative;
  top: -32px;
  left: 137px;
  z-index: -1;
}

.plan-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.plan-switcher-container {
  font-family: var(--gilroy-bold-font);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 5px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 999px;
  background: #de1f54;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0);
}

.switch-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 999px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0);
}

.switch-button-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 999px;
  color: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0);
}

.anual-plan-pitch {
  margin-top: 25px;
  border-radius: 5px;
  max-width: fit-content;
  background: #ffe2e2;
  padding: 5px 32px;
  color: #de1f54;
  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.anual-plan-pitch span {
  color: #de1f54;
  font-family: var(--gilroy-bold-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.plans-container {
  margin-top: 127px;
  padding: 0 127px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.plan {
  padding: 50px;
  width: 33%;
  height: 669px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
}

.simple-plan-border {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.special-plan-border {
  border-radius: 50px;
  border: 10px solid #de1f54;
}

.plan-tag {
  position: relative;
  top: -110px;
  left: -60px;
  z-index: -1;
  padding: 6px 10px;
  border-radius: 5px 5px 0px 0px;
  background: #de1f54;

  width: 152px;
  height: 96px;
  flex-shrink: 0;
  color: #fff;
  font-family: var(--gilroy-semibold-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  text-transform: uppercase;
}

.plan-name {
  color: #181818;
  font-family: var(--gilroy-bold-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.plan-description {
  margin-top: 5px;
  color: #181818;
  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.price {
  margin-top: 30px;
  color: #181818;
  font-family: var(--phonk-font);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 120% */
}

.price span {
  color: #181818;
  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.plan-divider {
  border: 1px solid #727272;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.plan-list ul li {
  color: #181818;
  opacity: 0.8;
  font-family: var(--gilroy-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.plan-link-simple {
  display: flex;
  width: 100%;
  align-self: center;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  background: #ffe5e5;
  color: #000;
  text-align: center;
  font-family: var(--sora-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin-top: 76px;
}

.plan-link-special {
  display: flex;
  width: 100%;
  align-self: center;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  font-family: var(--sora-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin-top: 76px;
  background: #de1f54;
}

@media screen and (max-width: 768px) {
  .pricing-section-title {
    color: #000;
    text-align: center;
    font-family: var(--phonk-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .pricing-title-vector {
    position: relative;
    top: -10px;
    left: 20px;
    z-index: -1;
    width: 238px;
  }

  .pricing-title-vector-mobile {
    z-index: -1;
    position: relative;
    top: -7px;
    left: 140px;
  }

  .plans-container {
    margin-top: 100px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .plan {
    padding: 50px;
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 10px;
  }

  .custom-height {
    max-height: 600px;
  }

  .simple-plan-border {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .special-plan-border {
    border-radius: 10px;
    border: 10px solid #de1f54;
  }

  .plan-tag {
    position: relative;
    top: -100px;
    left: -60px;
    z-index: -1;
    padding: 6px 10px;
    border-radius: 5px 5px 0px 0px;
    background: #de1f54;

    width: 152px;
    height: 96px;
    flex-shrink: 0;
    color: #fff;
    font-family: var(--gilroy-semibold-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    text-transform: uppercase;
  }

  .plan-name {
    font-size: 22px;
  }

  .plan-description {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }

  .price {
    font-size: 40px;
    line-height: 60px; /* 150% */
  }

  .price img {
    height: 28px;
  }

  .price span {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }

  .plan-divider {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .plan-list ul li {
    font-size: 14px;
    line-height: 28px; /* 200% */
  }

  .plan-link-simple {
    display: flex;
    width: 100%;
    align-self: center;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    background: #ffe5e5;
    color: #000;
    text-align: center;
    font-family: var(--sora-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 76px;
  }

  .plan-link-special {
    display: flex;
    width: 100%;
    align-self: center;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-family: var(--sora-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-top: 76px;
    background: #de1f54;
  }
}

/* Pricing Section END */

/* Features Section START */

.features-section {
  margin-top: 160px;
  margin-bottom: 120px;
  padding: 0 176px;
}

.features-section-title {
  color: #000;
  text-align: center;
  font-family: var(--phonk-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 150% */
}

.features-container {
  margin-top: 75px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  grid-template-rows: repeat(2, 1fr); /* Three rows */
}

.single-feature {
  padding: 30px;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f7f7f7;
  box-shadow: none;
}

.single-feature:hover {
  background: #de1f54;
  box-shadow: 0px 4px 50px 0px rgba(222, 31, 84, 0.25);
}

.single-feature path {
  stroke: black;
}

.single-feature:hover path,
.single-feature:hover .single-feature-title,
.single-feature:hover .single-feature-description {
  stroke: white;
  color: white;
}

.single-feature-title {
  margin-top: 28.38px;
  color: #181818;
  font-family: var(--gilroy-semibold-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.single-feature-description {
  margin-top: 15px;
  color: #181818;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
}

@media screen and (max-width: 768px) {
  .features-section {
    margin-top: 115px;
    background: #ffe2e2;
    padding: 30px 25px;
  }

  .features-section-title {
    color: #000;
    width: 100%;
    text-align: center;
    font-family: var(--phonk-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .features-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .single-feature {
    padding: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: none;
  }

  .single-feature:hover {
    background: #de1f54;
    box-shadow: 0px 4px 50px 0px rgba(222, 31, 84, 0.25);
  }

  .single-feature path {
    stroke: black;
  }

  .single-feature:hover path,
  .single-feature:hover .single-feature-title,
  .single-feature:hover .single-feature-description {
    stroke: white;
    color: white;
  }

  .single-feature-title {
    margin-top: 28.38px;
    color: #181818;
    font-family: var(--gilroy-semibold-font);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .single-feature-description {
    margin-top: 15px;
    color: #181818;
    font-family: var(--gilroy-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 136.364% */
  }
}

/* Features Section END */

/* Seminar Section START */

.seminar-section {
  /* margin-top: 120px; */
  padding: 0 150px;
  display: flex;
  justify-content: center;
}

.seminar-container {
  overflow: hidden;
  background: #de1f54;
  background-image: url(./img/mask-group-4.png);
  background-size: cover;
  padding: 50px 0;
  max-width: 1620px;
  /* height: 735px; */
  flex-shrink: 0;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seminar-marquee {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 30px;
  flex-shrink: 0;
}

.seminar-marquee ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  animation: 8s slide-top infinite linear;
  flex-shrink: 0;
}

.seminar-marquee ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--sora-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.shankys-seminar-logo {
  margin-top: 100px;
}

.seminar-location-name {
  color: #fff;
  text-align: center;
  text-shadow: -10px 10px 0px #000;
  font-family: var(--phonk-font);
  font-size: 200px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.seminar-date {
  color: #fff;
  text-align: center;
  font-family: var(--bratannic-bold);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.6px;
}

@media screen and (max-width: 768px) {
  .seminar-section {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .seminar-container {
    overflow: hidden;
    background: #de1f54;
    background-image: url(./img/mask-group-4.png);
    background-size: fill;
    background-position: center;
    padding: 50px 0;
    width: 100%;
    flex-shrink: 0;
    border-radius: 0px;
  }

  .shankys-seminar-logo {
    height: 28px;
    margin-top: 80px;
  }

  .seminar-location-name {
    font-size: 80px;
  }

  .seminar-date {
    font-size: 18px;
  }
}
/* Seminar Section END */

/* Testimonial Section START */

.testimonial-section {
  margin-top: 120px;
  padding: 0 150px;
  display: flex;
  justify-content: center;
}

.testimonials {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

.testimonial-subtitle {
  color: #de1f54;
  font-family: var(--phonk-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.testimonial-subtitle-svg {
  position: relative;
  top: -8px;
  z-index: -1;
}

.single-testimonial-content {
  margin-top: 58.72px;
  color: #181818;
  font-family: var(--gilroy-semibold-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 138.462% */
}

.testimonial-user-profile {
  margin-top: 26.04px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-photo {
  width: 99px;
  height: 99px;
}

.users-name {
  color: #181818;
  font-family: var(--gilroy-bold-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.users-designation {
  color: #181818;
  font-family: var(--gilroy-bold-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.testimonial-scrolls {
  width: 50%;
}

.scrolls {
  background: #f8f9f9;
  height: 816px;
  padding: 0 10px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  gap: 30px;
}

.testimonial-scrolls:before,
.testimonial-scrolls:after {
  width: 200px;
  height: 158.046px;
  content: "";
  z-index: 2;
}

.testimonial-scrolls::before {
  /* background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%); */
  background: red;
}

.testimonial-scrolls::after {
  /* background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%); */
  background: red;
}

.single-post {
  max-width: 347.73px;
  padding: 30px;
  margin-bottom: 30px;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

.single-post .content {
  color: #5e5e5e;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
}

.single-post .user-photo {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.single-post .testimonials-users-name {
  color: #000;
  font-family: var(--gilroy-bold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
}

.single-post .users-id {
  color: #000;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
}

.fading-up {
  z-index: 1;
  top: 158px;
  position: relative;
  width: 100%;
  height: 158px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.fading-down {
  transform: rotate(-180deg);
  position: relative;
  top: -158px;
  width: 100%;
  height: 158px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.scroll-1 {
  animation: 20s slide-up infinite linear;
}

.scroll-2 {
  animation: 20s slide-down infinite linear;
}

@media screen and (max-width: 768px) {
  .testimonial-section {
    margin-top: 120px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }

  .testimonial-subtitle {
    color: #000;
    text-align: center;
  }

  .testimonial-subtitle-svg {
    position: relative;
    top: -8px;
    z-index: -1;
    align-self: center;
  }

  .single-testimonial-content {
    margin-top: 40px;
    color: #181818;
    font-family: var(--gilroy-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .testimonial-user-profile {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .user-photo {
    width: 50px;
    height: 50px;
  }

  .users-name {
    color: #181818;
    font-family: var(--gilroy-bold-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .users-designation {
    color: #181818;
    font-family: var(--gilroy-bold-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .testimonial-scrolls {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .scroll-container {
    display: flex;
    gap: 30px;
  }

  .scrolls {
    background: #f8f9f9;
    height: fit-content;
    padding: 30px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .scroll-1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .scroll-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .single-post {
    width: 300px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    flex-shrink: 0;
  }

  .single-post .content {
    color: #5e5e5e;
    font-family: var(--gilroy-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 136.364% */
  }

  .single-post .user-photo {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }

  .single-post .testimonials-users-name {
    color: #000;
    font-family: var(--gilroy-bold-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 136.364% */
  }

  .single-post .users-id {
    color: #000;
    font-family: var(--gilroy-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 136.364% */
  }

  .fading-up {
    z-index: 1;
    top: 158px;
    position: relative;
    width: 100%;
    height: 158px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .fading-down {
    transform: rotate(-180deg);
    position: relative;
    top: -158px;
    width: 100%;
    height: 158px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  @keyframes slide-up {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-down {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .scroll-1 {
    animation: 20s slide-up infinite linear;
  }

  .scroll-2 {
    animation: 20s slide-down infinite linear;
  }
}

/* Testimonial Section END */

/* Accomplishment Section START */

.accomplishments-section {
  background-image: url("img/accomplishments-section-background.png");
  background-color: #ffe2e2;
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
  padding: 150px 0;
}

.accomplishments-section-title {
  z-index: 2;
  color: #000;
  text-align: center;
  font-family: var(--phonk-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 150% */
}

.accomplishments-title-vector {
  position: relative;
  z-index: 1;
  top: -30px;
  left: 100px;
  color: #000;
  text-align: center;
  font-family: var(--phonk-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 150% */
}

.accomplishments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.accomplishment {
  padding: 47px 40px 40px 40px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 600px;
}

.accomplishment-name {
  color: #181818;
  font-family: var(--gilroy-bold-font);
  margin-top: 47px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accomplishment-details {
  margin-top: 15px;
  color: #5e5e5e;
  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.accomplishment-link {
  cursor: pointer;
  margin-top: 41px;
  display: inline-flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  border: 1px solid #181818;
  background: rgba(255, 255, 255, 0);
  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);
  color: #181818;
  text-align: center;
  font-family: var(--sora-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 93.333% */

  width: max-content;
}

@media screen and (max-width: 768px) {
  .accomplishments-section {
    background: none;
    padding: 80px 25px;
  }

  .accomplishments-section-title {
    font-size: 22px;
    line-height: normal;
  }

  .accomplishments-title-vector {
    width: 192.856px;
    top: -15px;
    left: 35px;
  }

  .accomplishments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .accomplishment {
    padding: 25px 20px 20px 20px;
    border-radius: 10px;
    background: #ffe2e2;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 600px;
  }

  .accomplishment-logo {
    height: 30px;
  }

  .accomplishment-name {
    margin-top: 14px;
    color: #181818;
    font-family: var(--gilroy-semibold-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .accomplishment-details {
    margin-top: 5px;
    color: #5e5e5e;
    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .accomplishment-link {
    cursor: pointer;

    margin-top: 25px;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #de1f54;
    border: 1px solid #de1f54;
    box-shadow: none;

    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */

    width: 100%;
  }
}
/* Accomplishment Section END */

/* FAQs Section START */

.accordian-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordian-section-title {
  margin-top: 150px;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: var(--phonk-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 150% */
}

.accordian-section-title-vector {
  position: relative;
  top: -20px;
  left: 100px;
  z-index: -1;
}

.accordion {
  width: 100%;
  max-width: 965px;
  margin: 20px auto;
  margin-top: 90px;
  font-family: Arial, sans-serif;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: background-color 0.3s ease-in-out;

  color: #181818;
  font-family: var(--gilroy-bold-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion-content {
  display: none;
  max-height: 0;
  overflow: hidden;
  padding: 10px 15px;
  color: #5e5e5e;
  font-family: var(--poppins-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  transition: height 0.3s ease-in-out;
}

.accordion-title::after {
  content: "+";
  font-size: 1.5em;
  transition: transform 0.3s ease-in-out;
}

.accordion-item.active .accordion-title::after {
  content: "-";
  transform: rotate(90deg);
}

.accordion-item.active .accordion-title::after {
  content: "-";
  transform: rotate(90deg);
}

.accordion-item:has(input:checked) .accordion-title::after {
  content: "-";
  transform: rotate(180deg);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .accordion-title + .accordion-content {
  display: block;
  max-height: 1000px; /* Adjust this value based on your content height */
  /* transition: max-height 0.3s ease-in-out; */
  transition: height 0.3s, opacity 0.5s linear;
}

input[type="checkbox"]:checked + .accordion-title {
  /* background-color: #FFE2E2; */
}

.more-faqs-button {
  margin-top: 40px;
  cursor: pointer;

  display: inline-flex;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #000;

  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);

  color: #fff;
  text-align: center;
  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

@media screen and (max-width: 768px) {
  .accordian-section {
    padding: 0 25px;
    width: 100%;
  }

  .accordian-section-title {
    margin-top: 80px;
    font-size: 22px;
    line-height: 30px; /* 136.364% */
  }

  .accordian-section-title-vector {
    max-width: 192.856px;
    position: relative;
    top: -15px;
    rotate: 3deg;
    left: 20px;
    z-index: -1;
  }

  .accordion-title {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: background-color 0.3s ease-in-out;

    color: #181818;

    font-family: var(--gilroy-semibold-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .accordion-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    padding: 10px 15px;
    color: #5e5e5e;
    font-family: var(--poppins-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    transition: height 0.3s ease-in-out;

    color: #5e5e5e;

    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }

  .more-faqs-button {
    margin-top: 40px;
    cursor: pointer;

    display: flex;
    width: 181px;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    gap: 15px;

    border-radius: 5px;
    background: #181818;

    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);

    color: #fff;
    text-align: center;
    font-family: var(--sora-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 233.333% */
  }
}

/* FAQs Section END */

/* Contact Us Section START */

.contact-us-section {
  margin-top: 150px;
  padding: 0 100px;
}

.contact-us-container {
  border-radius: 10px;
  max-width: 100%;
  /* max-height: 358px; */
  background-image: url("img/contact-us-section.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #de1f54;
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-us-title {
  color: #fff;
  text-align: center;
  font-family: var(--phonk-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-us-text {
  margin-top: 15px;

  display: flex;
  max-width: 543px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #fff;
  text-align: center;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
}

.contact-us-links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.contact-us-link {
  margin-top: 40px;
  cursor: pointer;

  display: flex;
  width: fit-content;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;

  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);

  color: #fff;
  text-align: center;
  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

.join-the-membership-link {
  margin-top: 40px;
  cursor: pointer;

  display: flex;
  width: fit-content;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;

  border-radius: 5px;
  background: #181818;

  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);

  color: #fff;
  text-align: center;
  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

@media screen and (max-width: 768px) {
  .contact-us-section {
    margin-top: 86px;
    padding: 0 25px;
  }

  .contact-us-container {
    background-image: url("img/contact-us-mobile.png");
    background-size: cover;
    padding: 50px;
  }

  .contact-us-title {
    font-size: 22px;
  }

  .contact-us-text {
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }

  .contact-us-link {
    margin-top: 30px;

    display: flex;
    width: fit-content;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;

    border: none;
    background: #181818;

    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 233.333% */
  }
}

/* Contact Us Section END */

/* Footer Section START */

.footer-section {
  margin-top: 100px;
  width: 100%;
  height: 645px;
  background-image: url("img/footer-section.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 63px;
  padding-left: 25px;
  padding-right: 25px;
}

.content-container {
  max-width: 1426px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-title {
  margin-top: 97.45px;

  color: #fff;

  font-family: var(--raleway-font);
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px; /* 123.81% */
}

.footer-title-text-vector {
  position: relative;
  top: -20px;
  left: 70px;
}

.join-membership .join-the-membership-link {
  margin-top: 40px;
  cursor: pointer;

  display: flex;
  width: fit-content;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;

  border-radius: 5px;
  background: #fff;

  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);

  color: #181818;
  text-align: center;
  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

.widget-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-links-title {
  color: #fff;
  font-family: var(--poppins-font);
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}

.widget .links {
  color: #fff;
  font-family: var(--poppins-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.social-media-icons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.social-link {
  width: 40px;
  height: 40px;
}

.footer-section-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer-section {
    display: none;
  }

  .footer-section-mobile {
    margin-top: 80px;
    width: 100%;
    background: #111113;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .links-container-mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  .footer-links-title {
    color: #fff;
    font-family: var(--gilroy-semibold-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .links-container-mobile .links {
    color: #fff;
    opacity: 0.6;
    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .widget-links {
    gap: 10px;
  }

  .social-media-icons {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
  
  .social-link {
    width: 40px;
    height: 40px;
  }


}

/* Footer Section END */
