:root {
  --poppins-font: "Poppins", Helvetica;
  --gilroy-font: "Gilroy-Medium-☞", Helvetica;
  --gilroy-semibold-font: "Gilroy-SemiBold-☞", Helvetica;
  --gilroy-bold-font: "Gilroy-Bold-☞", Helvetica;
  --raleway-font: "Raleway", Helvetica;
  --phonk-font: "Phonk-RegularDEMO", Helvetica;
  --sora-font: "Sora", Helvetica;
  --bratannic-bold: "Britannic Bold-Regular", Helvetica;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mobile-view-flex {
  display: none;
}

.mobile-view-block {
  display: none;
}

.display-flex {
  display: flex !important;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }

  .mobile-view-flex {
    display: flex;
  }

  .mobile-view-block {
    display: block;
  }
}

.side-navbar {
  overflow-y: scroll;

  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */

  /* For Webkit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the thumb (the moving part) */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the track (the non-moving part) */
  }

  height: 100%;
  width: fit;
  min-width: 380px;
  padding-top: 61px;
  padding-bottom: 110px;

  display: flex;
  flex-direction: column;

  color: #000;

  font-family: var(--gilroy-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}

.logo-container {
  padding-bottom: 61px;
  padding-left: 71px;
  padding-right: 71px;
}

.active-link {
  background: #fdf3f6;
}

.link-text-active {
  color: #de1f54;
  font-family: var(--gilroy-semibold-font);
}

.active-vector {
  width: 6px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 999px 0px 0px 999px;
  background: #de1f54;
  margin-left: auto;
  content: "";
}

.nav-links ul {
  display: flex;
  flex-direction: column;
}

.nav-links ul li a {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: right;
}

.nav-links ul li:hover a {
  background: #fdf3f6;
  color: #de1f54;
  font-family: var(--gilroy-semibold-font);
}

.nav-links ul li svg {
  margin-right: 20px;
}

ul li:hover svg path.fill-hover {
  fill: #de1f54;
}

ul li:hover svg path.stroke-hover {
  stroke: #de1f54;
}

.policies {
  margin-top: auto;
  padding-top: 25px;
}

.policies ul li a {
  padding-left: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.policies ul li:hover a {
  background: #fdf3f6;
  color: #de1f54;
  font-family: var(--gilroy-semibold-font);
}

.policies ul li svg {
  margin-right: 20px;
}

.content {
  background: #fef4f4;
  flex-grow: 1;
  display: flex;
  padding: 40px 151px 40px 40px;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow-y: scroll;
}

.user-greeting-and-password-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.usergreeting {
  color: #181818;
  font-family: var(--gilroy-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.usergreeting span {
  color: #181818;
  font-family: var(--gilroy-semibold-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.password-editor {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.password_change_option {
  margin-top: 10px;
  position: absolute;
  right: 151px;

  padding: 20px;

  width: 394px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.fade-in-animation {
  animation: fadeIn 0.5s ease-in-out forwards; /* Animation properties */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.emailid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  color: #00000050;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.changepassword {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  color: #000;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

.dashboard-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  color: #000;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

.promotion-banner-container {
  border-radius: 10px;
  width: 100%;
  margin-top: 40px;
}

.promotion-banner-container img {
  width: 100%;
}

/* Basic + and Premium START */

.package-title-container {
  padding: 74px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.package-title-vector {
  width: 100%; /* Use a percentage for width */
  max-width: 539px; /* Set a maximum width if needed */
  height: 0px;
  border: 1.5px solid #7f7878;
}

.package-title-text {
  color: #7f7878;
  flex-shrink: 0;
  text-align: center;
  font-family: var(--gilroy-bold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
  text-transform: uppercase;
}

.app-container {
  width: 100%;
  padding: 0 74px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}

.app-container .app-divider {
  height: 72px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.app-container .app img {
  height: 44px;
}

.app-container .app .tradingview-form input {
  width: 309px;
  height: 60px;
  padding: 20px 16px;

  color: #000;

  font-family: var(--gilroy-semibold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */

  opacity: 0.8;

  border-radius: 5px 0 0 5px;
  border: 0.5px solid #000;
  background: #fff;
}

.app-container .app .tradingview-form {
  margin-top: 36px;
  flex-shrink: 0;
}

.app-container .app .tradingview-form button {
  margin-left: -5px;
  padding-top: 0;
  border-radius: 0 5px 5px 0;
  border: 0.5px solid #000;
  background: #fff;
  max-width: 183px;
  height: 60px;
  margin-top: 0;

  border-radius: 0px 5px 5px 0px;
  background: #000;

  color: #fff;

  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

.app-link {
  margin-top: 36px;
  width: 231px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;

  color: #000;

  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */

  display: grid;
  align-items: center;
}

.dashboard__disclaimer {
  margin-top: 60px;
  color: #000;

  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.dashboard__disclaimer a {
  opacity: 0.8;
  color: #000;
  font-family: var(--gilroy-bold-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.dashboard__disclaimer ul {
  list-style-type: disc;
  margin-left: 15px;
}

.mobile-navbar {
  display: none;
}

/* Basic + and Premium Mobile START */
@media screen and (max-width: 768px) {
  .side-navbar {
    background-color: #1f2122;
    padding-top: 43px;
    padding-bottom: 50px;
  }

  .logo-container {
    padding-bottom: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #de1f54;
    padding: 25px;
  }

  .close-button {
    color: #fff;
  }

  .nav-links ul li a {
    color: #919191;
    font-family: var(--gilroy-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .nav-links ul li:hover a {
    background: #fdf3f6;
    color: #de1f54;
    font-family: var(--gilroy-semibold-font);
  }

  .nav-links ul li svg {
    margin-right: 20px;
    height: 24px;
  }

  .fill-hover {
    fill: #919191;
  }

  .stroke-hover {
    fill: #919191;
  }

  ul li:hover svg path.fill-hover {
    fill: #de1f54;
  }

  ul li:hover svg path.stroke-hover {
    stroke: #de1f54;
  }

  .nav-links ul li:hover a {
    background: #4C4D4E;
    color: #fff;
  }

  .policies {
    margin-top: auto;
    padding-top: 25px;
  }

  .policies ul li a {
    color: #919191;
    font-family: var(--gilroy-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .policies ul li:hover a {
    background: #fdf3f6;
    color: #de1f54;
    font-family: var(--gilroy-semibold-font);
  }

  .policies ul li svg {
    margin-right: 20px;
    height: 24px;
  }

  .active-link {
    background-color: #4C4D4E;
  }

  .active-link .fill-hover {
    fill: #fff;
  }

  .active-link .stroke-hover {
    fill: #fff;
  }

  ul li:hover svg path.fill-hover {
    fill: #fff;
  }
  
  ul li:hover svg path.stroke-hover {
    stroke: #fff;
  }

  .link-text-active {
    color: #fff;
    font-family: var(--gilroy-semibold-font);
  }
  
  .active-vector {
    display: none;
  }

  .content {
    padding: 0;
  }

  .mobile-package-title-vector {
    width: 100%;
    height: 0.5px;
    background-color: #000;
    opacity: 0.4;
  }

  .package-title-text {
    color: #181818;
    font-family: var(--gilroy-semibold-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .app {
    width: 100%;
  }

  .package-title-container {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }

  .app-container {
    margin-top: 40px;
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
  }

  .app-container .app img {
    height: 20px;
    margin-top: 0px;
  }

  .app-container .app .tradingview-form {
    margin-top: 20px;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .app-container .app .tradingview-form input {
    width: 100%;
    height: 44px;
    padding: 14px 12px;

    color: #181818;

    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

    border-radius: 5px;
    border: 0.5px solid #000;
    opacity: 0.5;
    background: #fff;
  }

  .app-container .app .tradingview-form button {
    margin-left: 0px;
    margin-top: 20px;
    width: 100% !important;
    max-width: 100%;
    padding-top: 0;
    border-radius: 5px;
    border: 0.5px solid #000;
    background: #fff;
    height: 40px;
    border-radius: 5px;
    background: #000;

    color: #fff;

    text-align: center;
    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .app-link {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;

    background: #fff;

    color: #000;
    text-align: center;
    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */

    display: grid;
    align-items: center;
  }

  .dashboard__disclaimer {
    margin-top: 60px;
    color: #000;

    color: #000;

    font-family: var(--gilroy-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }

  .dashboard__disclaimer a {
    opacity: 0.8;
    color: #000;

    font-family: var(--gilroy-bold-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }

  .dashboard__disclaimer ul {
    list-style-type: disc;
    margin-left: 15px;
  }
}

/* Basic + and Premium Mobile END */

/* Basic + and Premium END */
