:root {
  --poppins-font: "Poppins", Helvetica;

  --gilroy-regular-font: "Gilroy-Regular", Helvetica;
  --gilroy-font: "Gilroy-Medium-☞", Helvetica;
  --gilroy-semibold-font: "Gilroy-SemiBold-☞", Helvetica;
  --gilroy-bold-font: "Gilroy-Bold-☞", Helvetica;

  --raleway-font: "Raleway", Helvetica;
  --phonk-font: "Phonk-RegularDEMO", Helvetica;
  --sora-font: "Sora", Helvetica;
  --bratannic-bold: "Britannic Bold-Regular", Helvetica;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mobile-view-flex {
  display: none;
}

.mobile-view-block {
  display: none;
}

.display-flex {
  display: flex !important;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }

  .mobile-view-flex {
    display: flex;
  }

  .mobile-view-block {
    display: block;
  }
}

.side-navbar {
  overflow-y: scroll;

  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */

  /* For Webkit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the color of the thumb (the moving part) */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the track (the non-moving part) */
  }

  height: 100%;
  width: fit;
  min-width: 380px;
  padding-top: 61px;
  padding-bottom: 110px;

  display: flex;
  flex-direction: column;

  color: #000;

  font-family: var(--gilroy-regular-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}

.logo-container {
  padding-bottom: 61px;
  padding-left: 71px;
  padding-right: 71px;
}

.active-link {
  background: #fdf3f6;
}

.link-text-active {
  color: #de1f54;
  font-family: var(--gilroy-semibold-font);
}

.active-vector {
  width: 6px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 999px 0px 0px 999px;
  background: #de1f54;
  margin-left: auto;
  content: "";
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-links ul li a {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: right;
}

.nav-links ul li:hover a {
  background: #fdf3f6;
  color: #de1f54;
  font-family: var(--gilroy-semibold-font);
}

.nav-links ul li svg {
  margin-right: 20px;
}

ul li:hover svg path.fill-hover {
  fill: #de1f54;
}

ul li:hover svg path.stroke-hover {
  stroke: #de1f54;
}

.policies {
  margin-top: auto;
  padding-top: 25px;
}

.policies ul {
  padding-left: 0;
}

.policies ul li a {
  color: black;
  padding-left: 71px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.policies ul li:hover a {
  background: #fdf3f6;
  color: #de1f54;
  font-family: var(--gilroy-semibold-font);
}

.policies ul li svg {
  margin-right: 20px;
}

.content {
  background: #fef4f4;
  flex-grow: 1;
  display: flex;
  padding: 40px 151px 40px 40px;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow-y: scroll;
}

.user-greeting-and-password-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.usergreeting {
  color: #181818;
  font-family: var(--gilroy-regular-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.usergreeting span {
  color: #181818;
  font-family: var(--gilroy-semibold-font);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.password-editor {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.password_change_option {
  margin-top: 10px;
  position: absolute;
  right: 151px;

  padding: 20px;

  width: 394px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.fade-in-animation {
  animation: fadeIn 0.5s ease-in-out forwards; /* Animation properties */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.emailid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  color: #00000050;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.changepassword {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  color: #000;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

.dashboard-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  color: #000;
  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

.promotion-banner-container {
  border-radius: 10px;
  width: 100%;
  margin-top: 40px;
}

.promotion-banner-container img {
  width: 100%;
  border-radius: 10px;
}

/* Basic + and Premium START */

.basic-plus-section {
  width: 100%;
}

.package-title-container {
  padding: 74px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.package-title-vector {
  width: 100%; /* Use a percentage for width */
  max-width: 539px; /* Set a maximum width if needed */
  height: 0px;
  border: 1.5px solid #7f7878;
}

.package-title-text {
  color: #7f7878;
  flex-shrink: 0;
  text-align: center;
  font-family: var(--gilroy-bold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
  text-transform: uppercase;
}

.app-container {
  width: 100%;
  padding: 0 74px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}

.app-container .app-divider {
  height: 72px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.app-container .app img {
  /* height: 44px; */
}

.app-container .app .tradingview-form {
  display: flex;
  flex-direction: row;

  margin-top: 36px;
  flex-shrink: 0;
}

.app-container .app .tradingview-form input {
  flex-grow: 1;
  height: 60px;
  padding: 20px 16px;

  color: #000;

  font-family: var(--gilroy-semibold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */

  border-radius: 5px 0 0 5px;
  border: 0.5px solid #000;
  background: #fff;
}

.app-container .app .tradingview-form button {
  display: grid;
  align-items: center;
  margin-left: -5px;
  padding: 0 53px;
  border-radius: 0 5px 5px 0;
  border: 0.5px solid #000;
  background: #fff;

  width: 100%;
  max-width: 183px;
  height: 60px;
  margin-top: 0;

  border-radius: 0px 5px 5px 0px;
  background: #000;

  color: #fff;

  font-family: var(--gilroy-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

.app-link {
  margin-top: 36px;
  width: 231px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #000;
  background: #fff;

  color: #000;

  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */

  display: grid;
  align-items: center;
}

.dashboard__disclaimer {
  margin-top: 60px;
  color: #000;

  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.dashboard__disclaimer a {
  opacity: 0.8;
  color: #000;
  font-family: var(--gilroy-bold-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.dashboard__disclaimer ul {
  list-style-type: disc;
  margin-left: 15px;
}

.mobile-navbar {
  display: none;
}

/* Basic + and Premium Mobile START */
@media screen and (max-width: 768px) {
  .mobile-padding {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .side-navbar {
    background-color: #1f2122;
    padding-top: 43px;
    padding-bottom: 50px;
  }

  .logo-container {
    padding-bottom: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #de1f54;
    padding: 25px;
  }

  .close-button {
    color: #fff;
  }

  .nav-links ul li a {
    color: #919191;
    font-family: var(--gilroy-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .nav-links ul li:hover a {
    background: #fdf3f6;
    color: #de1f54;
    font-family: var(--gilroy-semibold-font);
  }

  .nav-links ul li svg {
    margin-right: 20px;
    height: 24px;
  }

  .fill-hover {
    fill: #919191;
  }

  .stroke-hover {
    fill: #919191;
  }

  ul li:hover svg path.fill-hover {
    fill: #de1f54;
  }

  ul li:hover svg path.stroke-hover {
    stroke: #de1f54;
  }

  .nav-links ul li:hover a {
    background: #4c4d4e;
    color: #fff;
  }

  .policies {
    margin-top: auto;
    padding-top: 25px;
  }

  .policies ul li a {
    color: #919191;
    font-family: var(--gilroy-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .policies ul li:hover a {
    background: #fdf3f6;
    color: #de1f54;
    font-family: var(--gilroy-semibold-font);
  }

  .policies ul li svg {
    margin-right: 20px;
    height: 24px;
  }

  .active-link {
    background-color: #4c4d4e;
  }

  .active-link .fill-hover {
    fill: #fff;
  }

  .active-link .stroke-hover {
    stroke: #fff;
  }

  ul li:hover svg path.fill-hover {
    fill: #fff;
  }

  ul li:hover svg path.stroke-hover {
    stroke: #fff;
  }

  .link-text-active {
    color: #fff;
    font-family: var(--gilroy-semibold-font);
  }

  .active-vector {
    display: none;
  }

  .content {
    padding: 0;
    background: #fff;
  }

  .mobile-package-title-vector {
    width: 100%;
    height: 0.5px;
    background-color: #000;
    opacity: 0.4;
  }

  .package-title-text {
    color: #181818;
    font-family: var(--gilroy-semibold-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .app {
    width: 100%;
  }

  .package-title-container {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    align-self: stretch;
  }

  .app-container {
    margin-top: 40px;
    width: 100%;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
  }

  .app-container .app img {
    /* height: 20px; */
    margin-top: 0px;
  }

  .app-container .app .tradingview-form {
    margin-top: 20px;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .app-container .app .tradingview-form input {
    width: 100%;
    height: 44px;
    padding: 14px 12px;

    color: #181818;

    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

    border-radius: 5px;
    border: 0.5px solid #000;
    opacity: 0.5;
    background: #fff;
  }

  .app-container .app .tradingview-form button {
    margin-left: 0px;
    margin-top: 20px;
    width: 100% !important;
    max-width: 100%;
    padding-top: 0;
    border-radius: 5px;
    border: 0.5px solid #000;
    background: #fff;
    height: 40px;
    border-radius: 5px;
    background: #000;

    color: #fff;

    text-align: center;
    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .app-link {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;

    background: #fff;

    color: #000;
    text-align: center;
    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */

    display: grid;
    align-items: center;
  }

  .dashboard__disclaimer {
    margin-top: 60px;
    margin-bottom: 20px;
    color: #000;

    color: #000;

    font-family: var(--gilroy-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }

  .dashboard__disclaimer a {
    opacity: 0.8;
    color: #000;

    font-family: var(--gilroy-bold-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }

  .dashboard__disclaimer ul {
    list-style-type: disc;
    margin-left: 15px;
  }
}

/* Basic + and Premium Mobile END */

/* Basic + and Premium END */

/* Live START */

.live-section {
  width: 100%;
}

.live__disclaimer {
  color: #000;
  text-align: center;
  margin-top: 40px;
  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.live__session-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.session {
  /* Add your styling for the session items here */
  width: 500px;
  flex-shrink: 0;
}

.session-title {
  color: #000;

  text-align: center;
  font-family: var(--gilroy-bold-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 115.385% */
  text-transform: uppercase;
}

.session-details-basic {
  padding: 63px 77px;
  width: 500px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #0a5dfe;
  background: #fff;

  color: #000;

  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-details-premium {
  padding: 63px 77px;

  width: 500px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 20px;
  opacity: 0.8;
  background-color: #000000;
  background-image: url("../img/premium-locked-background.png");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;

  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.session-details-premium-active {
  padding: 63px 77px;
  color: #000;
  text-align: center;
  font-family: var(--gilroy-font);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 128.571% */

  width: 500px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #de1f54;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-details-premium-active span {
  font-family: var(--gilroy-semibold-font);
}

.session-details-basic .session-text {
  margin-bottom: 25px;
}

.session-details-basic .session-text-basics-inactive {
  color: #000;
  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.session-details-premium .session-text {
  margin-top: 25px;
}

.locked-circle {
  width: 80px;
  height: 80px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
}

/* Live Mobile START */

@media screen and (max-width: 768px) {
  .live-section {
    width: 100%;
  }

  .live__disclaimer {
    color: #000;
    text-align: center;
    margin-top: 40px;
    font-family: var(--gilroy-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */

    margin-bottom: 20px;
  }

  .live__session-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }

  .session {
    /* Add your styling for the session items here */
    width: 100%;
    flex-shrink: 0;
  }

  .session-title {
    color: #000;

    text-align: left;

    font-family: var(--gilroy-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    margin-bottom: 10px;
    margin-top: 25px;
    text-transform: capitalize;
  }

  .session-details-basic {
    padding: 25px;
    width: 100%;
    height: 148px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #0a5dfe;
    background: #fff;

    color: #000;

    text-align: left;
    font-family: var(--gilroy-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .session-details-premium {
    padding: 25px;

    width: 100%;
    height: 148px;
    flex-shrink: 0;
    border-radius: 20px;
    opacity: 0.8;
    background-color: #000000;
    background-image: url("../img/premium-locked-background.png");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: #fff;

    text-align: left;
    font-family: var(--gilroy-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .session-details-premium-active {
    padding: 25px;
    color: #000;
    text-align: center;
    font-family: var(--gilroy-font);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    width: 100%;
    height: 148px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #de1f54;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .session-details-premium-active span {
    font-family: var(--gilroy-semibold-font);
    font-style: italic;
  }

  .session-details-basic .session-text {
    margin-bottom: 10px;
  }

  .session-details-basic .session-text-basics-inactive {
    color: #000;
    text-align: left;

    font-family: var(--gilroy-semibold-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .session-details-premium .session-text {
    margin-top: 10px;
  }

  .locked-circle {
    width: 41px;
    height: 41px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
  }

  .locked-circle svg {
    height: 18.367px;
  }
}

/* Live Mobile END */

/* Live END */

/* Courses START */

.courses__premium-section {
  width: 100%;
}

.video-slider {
  border-radius: 10px;
  background: #fff;
  padding: 40px;
  padding-right: 0px;
}

.course-name {
  margin-top: 20px;
  color: #000;

  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.video-title {
  margin-top: 10px;
  color: #000;

  font-family: var(--gilroy-semibold-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.customer-logos::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.customer-logos::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb to transparent */
}

.customer-logos:hover::-webkit-scrollbar-thumb {
  background-color: initial; /* Show the scrollbar thumb on hover */
}

#video-slider {
  width: 300px; /* Adjust as needed */
  overflow: hidden;
  border: 1px solid #ccc;
}

#scroll-container {
  display: flex;
  width: 100%; /* Ensure the container takes full width */
  transition: transform 0.5s ease; /* Smooth transition effect */
  gap: 20px;
}

.slide {
  flex: 0 0 auto;
  padding: 10px;
  box-sizing: border-box;

  transition: filter 0.4s;
  border-radius: 10px;
  background: #fef4f4;
  padding: 20px;
  width: 390px !important;
}

.video-slider-title-and-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.video-slider-title {
  color: #000;
  font-family: var(--gilroy-semibold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  padding-top: 20px;
  padding-bottom: 20px;
}

.video-slider-navigation {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.accordion-item {
  margin-bottom: 25px;
}

.accordion-item .accordion-header .accordion-button {
  border-radius: 10px;
  background: #fff;

  color: #000;

  font-family: var(--gilroy-semibold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

.accordion-item .accordion-header span {
  margin-left: 47px;
  padding: 9px 30px;
  border-radius: 10px;
  background: #de1f54;
  color: #fff;

  font-family: var(--gilroy-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.accordion-body {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

/* Courses Mobile START */

@media screen and (max-width: 768px) {
  .accordion {
    background: #fff;
    padding-top: 5px;
  }

  .accordion-item {
    border-radius: 10px;
  }

  .video-slider-title {
    color: #1c1919;

    font-family: var(--gilroy-semibold-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .accordion-item .accordion-header .accordion-button {
    border-radius: 10px;
    background: #fef4f4;

    color: #000;

    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .accordion-item .accordion-header span {
    margin-left: 5px;
    padding: 9px 30px;
    border-radius: 10px;
    color: #de1f54;
    background: none;
    font-family: var(--gilroy-semibold-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

  .accordion-body {
    padding: 0 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    gap: 15px;
  }

  .white-bg {
    background: white;
  }

  .accordion-body .slide {
    padding: 15px;
    width: 100% !important;
  }

  .customer-logos .slide {
    width: 200px !important;
  }

  .customer-logos .slide img {
    width: 100%;
  }

  .course-name {
    color: #000;
    font-family: var(--gilroy-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
  }

  .video-title {
    color: #000;

    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/* Courses Mobile END */

/* Courses END */

/* Calculator START */

.calculator__container {
  margin-top: 57px;
  color: #000;

  text-align: center;
  font-family: var(--gilroy-bold-font);
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.calculator__text {
  margin-top: 10px;
  color: #7f7878;

  text-align: center;
  font-family: var(--gilroy-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.calculator__back_to_dashboard_button {
  width: 313px;
  height: 64px;
  flex-shrink: 0;

  padding: 14px 49px;

  border-radius: 10px;
  background: #de1f54;

  box-shadow: 0px 4px 50px 0px rgba(222, 31, 84, 0.15);

  filter: drop-shadow(0px 4px 50px rgba(222, 31, 84, 0.15));

  color: #fff;

  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

.calculator__back_to_dashboard_button_container {
  text-align: center;
  margin-top: 49px;
}

/* Calculator Mobile START */

@media screen and (max-width: 768px) {
  .coming-soon-mobile-image {
    height: 207px;
  }

  .calculator__container {
    color: #000;

    text-align: center;
    font-family: var(--gilroy-bold-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .calculator__text {
    color: #7f7878;

    text-align: center;
    font-family: var(--gilroy-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

  .calculator__back_to_dashboard_button {
    display: grid;
    align-items: center;
    border-radius: 5px;
    width: 100%;

    color: #fff;

    text-align: center;
    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .calculator__back_to_dashboard_button_container {
    text-align: center;
    margin-top: 49px;
  }
}

/* Calculator Mobile END */

/* Calculator END */

/* Admin Page START */

.admin-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.admin-links ul li {
  display: inline-flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: 1px solid #000;
}

.admin-links ul li a {
  display: block;
  width: 100%;

  color: #000;

  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 163.636% */
}

/* Admin Mobile START */
@media screen and (max-width: 768px) {
  .admin-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

/* Admin Mobile END */

/* Admin Page END */

/* 404 Page START */

._404__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
}

._404__title {
  margin-top: 15px;

  color: #181515;

  text-align: center;
  font-family: var(--gilroy-bold-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

._404__text {
  margin-top: 15px;

  color: #181515;

  text-align: center;
  font-family: var(--gilroy-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

._404__back_to_home_button {
  margin-top: 50px;

  display: block;
  width: 313px;
  height: 64px;
  flex-shrink: 0;
  padding: 14px 49px;

  border-radius: 10px;
  background: #de1f54;

  box-shadow: 0px 4px 50px 0px rgba(222, 31, 84, 0.15);

  filter: drop-shadow(0px 4px 50px rgba(222, 31, 84, 0.15));

  color: #fff;

  text-align: center;
  font-family: var(--gilroy-semibold-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

/* 404 Page Mobile START */

@media screen and (max-width: 768px) {
  ._404__image {
    height: 246px;
  }
  ._404__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  ._404__text {
    margin-top: 15px;

    color: #181515;

    text-align: center;
    font-family: var(--gilroy-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

  ._404__back_to_home_button {
    display: grid;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-family: var(--gilroy-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
}
/* 404 Page Mobile END */

/* 404 Page END */
